h4{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 40px;
	font-family: "Times New Roman";
}

.about-us-paragraph{
	margin-left: 50px;
	margin-right: 50px;
}

.cards{
	margin-top: 50px;
}

.card{
	transition: all 0.2s;
}

.card:hover{
	border-color: #FABDE2;
	border-width: 3px;
	transform: scale(1.05);
}
/*.about-us-cards{
	display: flex;
	justify-content: center;
}
*/

