h4{
	margin-top: 50px;
}

.about-us-paragraph, #about-us{
	margin-left: 50px;
	margin-right: 50px;
}

.cards{
	margin-top: 50px;
}

.card{
	transition: all 0.2s;
}

.card:hover{
	border-color: #FCACBF;
	border-width: 3px;
	transform: scale(1.02);
}
/*.about-us-cards{
	display: flex;
	justify-content: center;
}
*/

